/* this styles for tables  */

table {
    border-collapse: collapse;
    border: 1px solid #000;
    width: 80%;
    margin:auto;
}


/*
tr {
    vertical-align: top;
}
*/

tr:nth-child(even) {
    background-color:#D3D3D3;
    color:#000;
}

thead {
    background-color: #777;
    color:#fff;
}

td, th {
    border:1px solid #000;
    padding: .5em;
    
}

a {
    color: #44f;
}

.col1 {
    width:10%
}
